{% extends "base.html" %}

{% block title %} Finder {% endblock %}

{% block content %}
    <div class="w3-container w3-center">
        <h1>Finder</h1>
        <p>
            Eine Person hat bei Ihnen Unterschlupf bekommen. 
            Verwandte suchen womöglich nach dieser Person. Sie  
            können hier Ihre aufgenommenen Personen registrieren. Es spielt dabei keine Rolle,
            ob es sich bei der Obdach um eine Privatwohnung oder eine staatliche Notunterkunft handelt.
            Die Behörden können bei einer Registrierung leichter die Suchanzeigen
            mit den Personenregistrierungen abgleichen und Verwandte kontaktieren. <!-- wie bei einem schwarzen Brett -->
            <!-- Die Anwendung funktioniert dabei wie ein Aushang an einem schwarzen Brett und kann von jedem eingesehen werden. -->
        </p>

        <div class="w3-bar w3-center">
            <a href="/" class="w3-button w3-mobile w3-border w3-round-large w3-center">Zurück</a>
            <a href="/finder/login" class="w3-button w3-mobile w3-border w3-round-large w3-center">Weiter</a>
        </div>
    </div>

{% endblock %}