{% extends "base.html" %}

{% block title %} Info {% endblock %}

{% block content %}
    <div class="w3-container w3-center">
        <h1>Sucher & Finder</h1>
        <p>Möchten Sie eine Person als vermisst melden, wählen Sie bitte 'Suchanzeigen'.
            Möchten Sie eine in Notunterkünften aufgenommene Person registrieren (staatliche, private Notunterkünfte sowie Privatwohnungen),
            dann wählen Sie 'Personenfunde'.
            Unter 'Hilfe' erhalten Sie weitere Informationen.
        </p>
        <div class="w3-bar w3-center">
        <a href="#" class="w3-button w3-mobile w3-border w3-round-large w3-center w3-margin">Suchanzeigen</a>
        <a href="#" class="w3-button w3-mobile w3-border w3-round-large w3-center w3-margin">Personenfunde</a>
        <a href="#" class="w3-button w3-mobile w3-center w3-round-large w3-border w3-margin">Hilfe</a>
        </div>
    </div>

{% endblock %}